@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1 rem;
    color: #1C2833;
}


.bg-login{ 
    background: rgb(32,171,138);
    background: linear-gradient(180deg, rgba(32,171,138,1) 0%, rgba(52,214,175,1) 49%, rgba(69,250,207,1) 100%);    
    background-repeat: no-repeat;
    height: 100vh;
}

.card-login{
    width: 500px;
    margin-top: 5vh;
    padding: 3rem;
    border-radius: 12px;
    height: 100vh;
}

.text-login{
    font-family: 'Handlee', cursive; 
}

.img-login{
    width: 8em;
}

.img-login-main{
    margin-top: 5vh;
    width: 55em;
}


.botao-home{
    font-size: 1.3em;
}

.bg-login-blue{
    background-color: #0f0a3c;
}

.text-blue{
    color: #0f0a3c;
}

.btn-blue{
    background-color: #0f0a3c;
    color: #FFF;
}

.btn-blue:hover{
    background-color: #26224f;
    color: #FFF;
}

.navbar-blue{
    background: #0f0a3c;
}

.btn-branco{
    background-color: #FFF;
    color: #0f0a3c;
}

.btn-branco:hover{
    background-color: #FFF;
    color: #26224f;
}
.btn-green{
   background-color:  #009f9d;   
}
.btn-green:hover{
    background-color: #74A328;  
}

.bg-green{
    background-color: #009f9d;
}
.text-green{
    color: #009f9d;
}

.border-green{
    border: 4px solid #009f9d;
    padding: 20px;
    border-radius: 10px;
}

.novo-pedido{
    padding: 20px;
    border-radius: 10px;
    background-color: #009f9d;
}

.alerta-vermelho{
    background-color: #EF5B5B;
    color: #FFF;
    padding: .5em 1em;
    border-radius: 6px;
    
}

.alerta-verde{
    background-color: #34D6AF;
    color: #FFF;
    padding: .5em 1em;
    border-radius: 6px;
}

.item-nav{
    color:#FFF !important;
    padding: 0 20px;
    font-weight: bold;
    margin-left: 20px;
    border-radius: 3px;
}

.item-nav:hover{
    color: #0f0a3c !important;
    text-transform: uppercase;    
    background: #FFF;
    padding: 0 20px;
    font-weight: bold;
    
}




.active{
    color: #0f0a3c !important;
    text-transform: uppercase;
    font-weight: bold;
    background: #FFF; 
   
}

.btn-verde{
    background-color: #20AB8A;
    color: #FFF;
}

.btn-verde:hover{
    background-color:#177962;
    color:#FFF;
}



label{ 
    color: #9B9898;   
    font-weight: bold;
    margin-bottom: 0;
}

.item-menu-verde{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #20AB8A;
    height: 90px;
}

.item-menu-vermelho{
    width: 100%;
    border-radius: 10px;
    border: 2px solid #EF5B5B;
    height: 90px;
}

.item-menu-verde .col-3 {
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    height: 87px;
    padding-top: 20px;
    background-color: #20AB8A;  
}
.item-menu-vermelho .col-3 {
    border-radius: 5px;
    border-radius: 5px 0 0 5px;
    height: 87px;
    padding-top: 20px;
    background-color: #EF5B5B;  
}


.item-menu-verde .col-9 {
   color:#20AB8A!important; 
}
.item-menu-vermelho .col-9 {
    color:#EF5B5B!important; 
 }

.bg-verde{
    background-color: #20AB8A;
}

.bg-vermelho, .btn-vermelho{
    background: #EF5B5B;    
}
.btn-vermelho:hover{
    background: #B01111;    
}

#pedidos{
    margin-top: 20vh;   
}

#cadastro{
    margin-top: 10vh;
}

#iniciar-pedidos{
    border-left: 3px solid #FFF;
}

.img-home{
   width: 100px; 
}

.btn-lista{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 2px;
}

#meus-produtos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 96%;
    border-bottom: 5px solid #0f0a3c;
    z-index: 99;
    
}


#meus-produtos li a{
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
    
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
  }

  ::-webkit-scrollbar-thumb {
    background: #0f0a3c ; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0f0a3c; 
  }


  .thead-blue{
    margin-top: 20px;
    background-color: #0f0a3c ;
    color: #FFF;
    font-weight: bold;
    border: none;
}

.page-link.selected{
    background-color: #0f0a3c !important;
    color: #FFF;  

}

.page-link{
    color:#0f0a3c ;
}